body {
  font-family: "Courier New", monospace;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 640px;
  margin: auto;
}

label {
  display: block;
  margin-top: 10px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}

button {
  background-color: #d60000;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
